body {
  background: #8c9da0;
}

/* navbar */
.navbar {
  background: #d5dfe1 !important;
}

.nav-link:hover {
  background: #d5dfe1 !important;
  border-radius: 0.5em;
  box-shadow: inset 9.91px 9.91px 15px #C2CBCD, inset -9.91px -9.91px 15px #E8F3F5;
}

/* home page */
.blog-container {
  text-align: center;
}
.quote-card {
 margin-top: 13em;
 background: #d5dfe1;
}

.quote-container {
  /* background: url(../images/bgs.jpg); */
  background: #829092;
  background-position: center;
  background-size: cover;
  height: 92vh;
}

.blog-container {
  /* background: url(../images/savy2.jpg); */
  background: #6f7e80;
  background-position: center;
  background-size: cover;
  height: 92vh;
}

.blog-cont {
  margin-top: 13em;
}

.blog-cont p {
  font-size: larger;
}